<?php

/**
 * @file Main Configuration for module
 *
 * Config for the import/export can be found in src\ctrl\TransferSettings.php
 */

# module Folders
define('PHYLOGRAM_DATATRANSFER_IMPORT_TOPIC_FOLDER', drupal_get_path('module', 'phylogram_datatransfer') . DIRECTORY_SEPARATOR . implode(DIRECTORY_SEPARATOR, ['src', 'import_model', 'imports']) . DIRECTORY_SEPARATOR);
define('PHYLOGRAM_DATATRANSFER_EXPORT_DATA_FOLDER', drupal_get_path('module', 'phylogram_datatransfer') . DIRECTORY_SEPARATOR . 'data' . DIRECTORY_SEPARATOR);



# Default Options for drush export-csv
define('PHYLOGHRAM_DATATRANSFER_DEFAULT_START_EXPORT', NULL);
define('PHYLOGRAM_DATATRANSFER__DEFAULT_END_EXPORT', 'now');
define('PHYLOGRAM_DATATRANSFER__DEFAULT_FILE_MODE', 'a');

# Default Options for export files
define('PHYLOGRAM_DATATRANSFER__DEFAULT_EXPORT_FILE_EXTENSION', 'csv');
define('PHYLOGRAM_DATATRANSFER_CSV_DELIMITER', ',');
define('PHYLOGRAM_DATATRANSFER_CSV_ENCLOSURE', '""');
define('PHYLOGRAM_DATATRANSFER_CSV_ESCAPE_CHAR', '\\');