<?php

/**
 * @file Main Configuration for module
 */

# module Folders
define('PHYLOGRAM_DATATRANSFER_IMPORT_TOPIC_FOLDER', drupal_get_path('module', 'phylogram_datatransfer') . DIRECTORY_SEPARATOR . implode(DIRECTORY_SEPARATOR, ['src', 'import_model', 'imports']) . DIRECTORY_SEPARATOR);
define('PHYLOGRAM_DATATRANSFER_EXPORT_DATA_FOLDER', drupal_get_path('module', 'phylogram_datatransfer') . DIRECTORY_SEPARATOR . 'data' . DIRECTORY_SEPARATOR);


# Folder structure of data export
/**
 * @var $phylogram_datatransfer_folder_tree array of level n / 'filename' =>
 *     php-time-string (see docs) or topic (in config)
 * @link http://php.net/manual/de/function.date.php#refsect1-function.date-parameters
 */
/* define('phylogram_datatransfer_folder_tree',
  [ 0 => ['time' => 'Y'],
    # A full numeric representation of a year, 4 digits
    1 => ['time' => 'F'],
    # A full textual representation of a month, such as January or March
    2 => ['name' => 'topic'],
    # Last one is the filename
  ]);
*/

# Default Options for drush export-csv
define('PHYLOGHRAM_DATATRANSFER_DEFAULT_START_EXPORT', 'last');
define('PHYLOGRAM_DATATRANSFER__DEFAULT_END_EXPORT', 'now');
define('PHYLOGRAM_DATATRANSFER__DEFAULT_FILE_MODE', 'a');

# Default Options for export files
define('PHYLOGRAM_DATATRANSFER__DEFAULT_EXPORT_FILE_EXTENSION', 'csv');
define('PHYLOGRAM_DATATRANSFER_CSV_DELIMITER', ',');
define('PHYLOGRAM_DATATRANSFER_CSV_ENCLOSURE', '""');
define('PHYLOGRAM_DATATRANSFER_CSV_ESCAPE_CHAR', '\\');