<?php
/**
 * @file Main Configuration for module
 */




# Folder structure of data export
/**
 * @var $phylogram_datatransfer_folder_tree array of level n / 'filename' => php-time-string (see docs) or topic (in config)
 * @link http://php.net/manual/de/function.date.php#refsect1-function.date-parameters
 */
$phylogram_datatransfer_folder_tree = array(
	0 => array('time' => 'Y'), # A full numeric representation of a year, 4 digits
	1 => array('time' => 'F'), # A full textual representation of a month, such as January or March
	2 => array('name' => 'topic'), # Last one is the filename
);